body {
  margin: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

canvas {
  display: block;
}

#three-canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
